

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
  .btn-primary{
    background-color: rgb(21, 18, 185);
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
  }
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
h3{
    color: blue;
}
nav ul li{
    list-style: none;
}
/* header */
.header{
  background-image: url(../image/Hero-bg.png);
  width: auto;
  height: 400px;
  border: 5px;
}
/* banner style */
.banner{
  justify-content: center;
  text-align: center;
  margin:20px 20px 20px 20px;
  gap: 10px;
  padding: 10px 10px ;
  

}
.action-profile-pic{
  width: 220px;
  height: 200px;
  border-radius: 10px;

}
/* action */
.action{
  display: flex;
  justify-content: space-between;
  margin: 130px 30px 20px 100px;
  border-radius: 10px;
  background-color:white;
}
.action-content{
  max-width: 680px;
}
.bannerr{
 justify-content: center;
  text-align: center;
  margin:20px 20px 20px 20px;
  gap: 5px;
  padding: 250px 10px;
  margin-top: 130px;
  background-color:;
}
.asadul-item{
  display: flex;
  justify-content: space-around;

}
.item-description{
  font-size: 20px;
}


.item-title{
  font-weight: 800;
  font-size: 60px;
  color: blue;
}

.class-asad{
  display: flex;
  gap: 200px;
  width: 50%;
  text-align: center;
  font-size: 30px;
    justify-content: space-around;
    /* background-color: antiquewhite; */
  
}
.sub{
  background-color: blue;
  width: 120px;
  height: 45px;
}
.name{
  background-color: white;
  width: 350px;
  height: 60px;
  justify-content: space-between;
}

.foot{
  text-align: center;
  color:black;

 
}





