

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-variation-settings:
    "wdth" 100;
}
/* share style */
  .btn-primary{
    background-color: rgb(21, 18, 185);
    font-weight: 700;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
  }
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
h3{
    color: blue;
}
nav ul li{
    list-style: none;
}
